*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --primary-light-hsl: 200, 100%, 91%;
    --primary-hsl: 200, 100%, 50%;
    --primary-dark-hsl: 200, 100%, 50%;
}

body {
    margin: 0;
}

.full-screen-container {
    background-image: url(sunset.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-title {
    margin: 0;
}

.login-container {
    background-color:hsl(200, 100%, 50%, .5);
}



